<% div_for location do %>
  <h2>
    <span class='code'><%= location.emt_code %></span> <%= location.name %>
    <span class='distance'><%= distance_in_meters(location)  %></span>
  </h2>
  
  <ul>
    <% location.routes.each do |route|  %>
      <li><%= route.line.name %> dirreción <%= route.direction %></li>
    <% end %>
  </ul>
  
  <% form_for Choice.new  do %>
    <%= hidden_field_tag 'location_id', location.id %>
    <button><%= "Añadir a mis paradas" %></button>
  <% end %>
<% end %>
