- if @show_intro
  %p.introduction
    %strong
      ¿Cuando llega mi autobús?<br />
    Tiempos de espera para los próximos autobuses de la EMT Madrid en tu parada.
    
- form_for :location, :url => locations_url, :html => {:method => :get, :class => 'search'} do
  = text_field_tag 'q', params[:q], :type => 'number'
  %button{:type => 'submit', :class => 'buscar'}
    %span Buscar


%article.results
  -if @locations.present? && @choices.empty?
    %p.linkInfo.roundedTop.roundedBottom
      Pincha en una estrella para guardar tu linea favorita
      
  = render @locations
  - if @locations.empty? && params[:q]
    %p.empty
      No hemos encontrado el número de parada o la dirección que has indicado.
    %p.empty
      Intenta ser más específico indicando el tipo de vía: calle, plaza, avenida...
    %p.empty
      El número de parada lo puedes encontrar en la marquesina del autobús.


- if @choices_by_location.present?

  %article.choices
    - @choices_by_location.each do |location, choices|

      %section.location{'data-expected-url' => arrivals_location_url(location), :id => dom_id(location)}
        %h1
          %span.code= "#{location.emt_code} - "
          = location.name
          %span.distance= distance_in_meters(location)

        %ul.routes
          = render choices

- if session[:slug].present?
  %p.linkInfo.roundedTop.roundedBottom
    Para poder volver a tus paradas, añade este URL a tus favoritos: 
    = link_to slug_url(:slug => session[:slug]), slug_url(:slug => session[:slug])

