.span-8
  - form_for Choice.new do
    = hidden_field_tag 'bus_stop_id', bus_stop.id
    %button= "#{bus_stop.emt_id} - #{bus_stop.name} - #{number_with_precision(bus_stop.distance.to_f*1000, :precision => 2)} m."
