!!! Strict
%html
  %head
    %title MisParadas.com
    %meta{'http-equiv' => "content-language", :content => 'es'}
    %meta{:name => "viewport", :content =>"width=320; initial-scale = .8, user-scalable=0;"}

  /[if IE]
    = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
  = stylesheet_link_tag ['content'], :cache => 'app'
  = javascript_include_tag ['jquery', 'jquery.form', 'jquery.example.min'], :cache => 'jquery.all'

%body
  %header.layout
    -#%strong
      %a{:href => "/acerca"}
        Acerca de
  .container

    %section.layout
      = yield

    %footer.layout
      Un proyecto de 
      <a href="http://samlown.com">Sam Lown</a>,
      <a href="http://fernando.blat.es/">Fernando Blat</a>,
      <a href="http://42linesofcode.com/">Christos Zisopoulos</a>,
      y 
      <a href="http://blog.duopixel.com/">Mark MacKay</a>
      para <a href="http://abredatos.es">AbreDatos</a> 2010.

= javascript_include_tag 'application'
